  <mat-toolbar color="primary">
    <span>
      <mat-icon class="icon-home">book</mat-icon>
    </span>


    <span>Thirukural</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu" (click)="sidenav.open()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-sidenav-container>
    <mat-sidenav #sidenav align="end">
      <mat-tab-group>
        <mat-tab label="One">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Two">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>

   

  </mat-sidenav-container>

  <!-- <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span> -->

  <table>
    <tr *ngFor="let d of data; let i = index">
      <td>{{i}}</td>
    </tr>
  </table>