<mat-toolbar color="primary">
  <span>
    <mat-icon class="icon-home">book</mat-icon>
  </span>


  <span>Thirukural</span>

  <!-- <button mat-icon-button [mat-menu-trigger-for]="menu" (click)="sidenav.open()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
</mat-toolbar>
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu> -->

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav align="end">
    <mat-tab-group>
      <mat-tab label="One">
        <h1>Some tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Two">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>



</mat-sidenav-container> -->

<!-- <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span> -->
<!-- {{data}} -->
<!-- <table>
  <tr *ngFor="let d of data; let i = index">
    <td>{{i}}</td>
  </tr>
</table> -->

<div class="example-container">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="section">
      <mat-header-cell *matHeaderCellDef> Section </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.section}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="chapter">
      <mat-header-cell *matHeaderCellDef> Chapter </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.chapter}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kural">
      <mat-header-cell *matHeaderCellDef> Kural </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kural}} </mat-cell>
    </ng-container>




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>

</div>